.bubble {
	position: absolute;
	top:37px;
	left:30px;
	z-index: 1001;

	display: none;

	width: 180px;
	height: 60px;
	padding: 0px;
	background: #EEEEEE;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: -1px 2px 5px 0px rgba(58, 58, 58, 0.81);
	-moz-box-shadow: -1px 2px 5px 0px rgba(58, 58, 58, 0.81);
	box-shadow: -1px 2px 5px 0px rgba(58, 58, 58, 0.81);
}
.bubble:after {
	content: "";
	position: absolute;
	top: -9px;
	left: 131px;
	border-style: solid;
	border-width: 0 8px 9px;
	border-color: #EEEEEE transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.searchBar{
	height:25px;
	width: 160px;
	position:relative;
	top: 15px;
	left:10px;
}
.search_box {
	z-index: 1002;
	position:absolute;
	top:0px;
	left: 70px;

   	width: 90px;
   	height: 25px;
   	border: inset 1px #EEEEEE;
   	padding: 2px;
   /*	border-radius: 5px;*/
  	font-size: 12px;
   
   	background-color: #FFFFFF;
  	color: black;
  	}
.search_box:focus  {
  	border: inset 1px #0696D7;
  }
.search_box:active  {
   	border: inset 1px #0696D7;
  }

/*category selector*/

.searchBar select{
	height:25px;
	width:70px;
	
	position:absolute;
	top:0px;
	left: 0px;

	background-color: #EEEEEE;
	color:#3A3A3A;
	padding:2px;

	-webkit-box-shadow: -1px 2px 1px 0px rgba(58, 58, 58, 0.81);
	-moz-box-shadow: -1px 2px 1px 0px rgba(58, 58, 58, 0.81);
	box-shadow: -1px 2px 1px 0px rgba(58, 58, 58, 0.81);
}

.searchBar option{
	background-color: white;
	color: #3A3A3A;
}
