@import url(http://weloveiconfonts.com/api/?family=entypo);
span {
  font-family: "entypo", sans-serif;
  font-size: 1.5em;
  display: block;
  /*margin: auto;*/
  width: 25px;
  transition: transform .3s ease;
  transform-origin: 25% 50%;
  position: absolute;
  right: 0px;
  top: 0px;
}
span:before {
  content: "\2630";
}
span.close {
  transform: rotate(-180deg);
}
span.close:before {
  content: "\2715";
}