body {
  background: url(../images/Editor_notop_newicons.png);
  background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.container {
  position: relative;
  width: 1268px;
  height: 620px;
}

.panel{
	font-family: Helvetica, Arial, Sans-Serif;
	color:grey; 
	background-color:#DDDDDD;
	width:211px;
	height:306px;
	padding:2px;
	border:2px;
	border-style:ridge;
	border-color:#E8E8E8;
	position: absolute;
  	top: 47px;
  	right:0px;
}
.header{
	height:12px;
}
.header h1{
	font-size:12px;
	float:left;
}
.display-area{
	width:201px;
	height:266px;
	margin-left: 2px;
	margin-top:15px;
	background-image:url(../images/blocks.png);
	background-repeat: no-repeat;
	border:2px;
	border-style:ridge;
	border-color:#E8E8E8;
	position: relative;

	overflow-y: scroll;
}
.display-area h2{
	font-size: 10px;
	z-index: 1000;
}
#iconSearch{
	position:absolute;
	top:8px;
	right:36px;
}
#iconSetting{
	position:absolute;
	top:8px;
	right:20px;
}
#iconCaretUp{
	position:absolute;
	top:8px;
	right:8px;
}
#iconHamburger{
	position: absolute;
  	right: 5px;
  	top: -25px;
}

.force-overflow{
	min-height: 400px;
}

.display-area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #E8E8E8;
}

.display-area::-webkit-scrollbar
{
	width: 6px;
	background-color: #E8E8E8;
}

.display-area::-webkit-scrollbar-thumb
{
	background-color: grey;
}
