@import url(http://weloveiconfonts.com/api/?family=entypo);


/*caret Up Icon: expand and collapse*/
.icon-caretUp{
	font-family: 'entypo', sans-serif;
  	font-size: 1em
	display: inline;
  	transition: transform 0.3s ease;
 	transform-origin: 50% 50%;
}
.icon-caretUp:before{
	content:"\e75f";
}
.icon-caretUp.collapsed{
	transform: rotate(0deg);
}
.icon-caretUp.collapsed:before{
	content:"\e75c";
} 


/*hamburger Icon*/
.icon-hamburger {
	font-family: 'entypo', sans-serif;
  	font-size: 1.3em;
  	display: block;
  
  	transition: transform 0.3s ease;
  	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;

  	transform-origin: 25% 50%;
}
.icon-hamburger:before {
  	content: "\2630";
}
.icon-hamburger.close {
 	transform: translateX(-100px) rotate(-180deg);
 	-webkit-transform: translateX(-100px) rotate(-180deg);
 	-moz-transform: translateX(-100px) rotate(-180deg);

}
.icon-hamburger.close:before {
  	content: "\2715";
}

