@import url(http://weloveiconfonts.com/api/?family=entypo);
*{
	font-family: Arial, Helvetica, sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  background: url(../images/Editor_notop_newicons.png);
  background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.container {
  	position: relative;
  	width: 1268px;
 	height: 620px;
}

.pallet{
	background-color:#E5E5E5;
	width:211px;
	height:306px;
	padding:2px;

	border:2px solid #CCCCCC;

	position: relative;
  	top: 47px;
  	left:1048px;
  	overflow-y:hidden;
}
.header{
	height:25px;
	width:211px;
	padding:auto 5px auto 5px;
	position:relative;
	color: #666666;
}
.display-area{
	height:400px;
}
.scrollbar{
	width:201px;
	height:270px;
	overflow-y:scroll;
	background-color: white;
	border:2px solid #CCCCCC;
	position: relative;
	left: 3px;
}
#scrollbar::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
}
#scrollbar::-webkit-scrollbar-thumb{
	background-color:#CCCCCC;
	border-radius:2.5px;
}
#scrollbar::-webkit-scrollbar-thumb:hover{
	background-color: #666666;
}
#scrollbar::-webkit-scrollbar-thumb:active{
	background-color: #666666;
}

/*header*/
#header{
	font-size: 13px;
	position: absolute;
	top:6px;
	left:7px;
}
.entypo-search{
	font-size: 17px;
	position: absolute;
	top: 2.5px;
	left: 4.5px;
	color:white;
}


.search-tab{
	border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    -webkit-border-radius: 7px 0px 0px 7px;
    border: 0px;
	width: 25px;
	height:25px;
	background-color:#999999;
	position: absolute;
	right:0px;
	top:0px;
	z-index: 1;
}

#searchBar{
	display: none;
	width:171px;
	height: 25px;
	background-color:#999999;
	position: absolute;
	left:25px;
	top:0px;
	z-index: 1;
}

.vertical-text {
	transform: rotate(-90deg);
  	transform-origin: left top 0;
  	position: absolute;
  	top: 48px;
  	left: 5px;
}
.menu-tab {
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border: 0px;
    width: 25px;
    height: 55px;
    background-color: #999999;
    color:white;
    z-index: 1;
    position: absolute;
    top: 25px;
    right: 0px;
}

#sideMenu{
	display: none;
	width:93px;
	height: 270px;
	background-color:#999999;
	position: absolute;
	left:103px;
	top:25px;
	z-index: 1;
}

/*.menu-tab:hover,.search-tab:hover,#searchBar:hover,#sideMenu:hover{
	background-color: rgba(0,0,0,0.7);
}*/