@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


body {
  background: url(../images/Editor_notop_newicons.png);
  background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.container {
  	position: relative;
  	width: 1268px;
 	height: 620px;
}

.pallet{
	font-family: Helvetica, Arial, Sans-Serif;
	color:grey; 
	background-color:#DDDDDD;
	width:211px;
	height:306px;
	padding:2px;
	border:2px;
	border-style:ridge;
	border-color:#E8E8E8;
	position: relative;
  	top: 47px;
  	left:1048px;
  	overflow-y:hidden;
}
.header{
	height:25px;
	width:211px;
	padding:auto 5px auto 5px;
	position:relative;
}

.header h1{
	font-size:11px;
	float:left;
	font-weight: normal;
}
.display-area{
	width:201px;
	height:270px;
	position: absolute;
	
	background-image:url(../images/blocks.png);
	background-repeat: no-repeat;
	border:2px;
	border-style:ridge;
	border-color:#E8E8E8;

	overflow-y: scroll;
}
.subheader #currentView{
	font-size: 13px;
	font-weight: normal;
	position:absolute;
	top:5px;
	left:5px;
}
.subheader{
	background-color: #3A3A3A;
	opacity: 0.4;
	color:#E8E8E8;
	height: 23px;
	width: 195px;
	z-index: 1000;
	position:absolute;
	top:28px;
	left:4px;
	
}
.subheader:hover{
	opacity: 0.8;
}

/*scroll bar*/
.force-overflow{
	min-height: 400px;
}

.display-area::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #E8E8E8;
}

.display-area::-webkit-scrollbar
{
	width: 6px;
	background-color: #E8E8E8;
}

.display-area::-webkit-scrollbar-thumb
{
	background-color: #3A3A3A;
}

/*position of icons*/
#iconSearch{
	position:absolute;
	top:4px;
	right:36px;
}
#iconSetting{
	position:absolute;
	top:4px;
	right:20px;
}
#iconCaretUp{
	position:absolute;
	top:4px;
	right:8px;
}
#iconHamburger{
	position: absolute;
	right:10px;
}