/*
words:      #333
background: #eee
border:     #d5d5d5
menu:       #e4e4e4;
blue:       #217cbc
*/

body {
  background: url(../images/Editor_notop_newicons.png);
  background-repeat: no-repeat;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
}
a {
	text-decoration: none;
}
.v-middle{
	vertical-align: middle;
}

.box-shadow-1 {
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
	        box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
}
.shadow{
	display:none;
	width: 201px;
	height:255px;
	position:absolute;
	left:6px;
	top:47px;
	z-index:1;
}
.border{
	border-top: 1px solid #eee;
}
.container {
	position: relative;
  width: 1268px;
 	height: 620px;
}

/*content library*/
.pallet{
	background-color: #eee;
	width:211px;
	height:306px;
	padding:2px;
	border:1px solid #d5d5d5;
	position: relative;
  left:1048px;
	top: 47px;
  overflow-y:hidden;
}
.header{
	height:25px;
	width:211px;
	padding:auto 5px auto 5px;
	position:relative;
}
.display-area{
	height:auto;
}
.scrollbar{
	width:201px;
	height:255px;
	overflow-y:scroll;
	background-color: #eee;
	border:1px solid #d5d5d5;
	position: relative;
	left: 3px;
}
#scrollbar::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
	z-index:100;
}
#scrollbar::-webkit-scrollbar-thumb{
	background-color:#d5d5d5;
	border-radius:2.5px;
	z-index: 100;
}
#scrollbar::-webkit-scrollbar-thumb:hover{
	background-color: #d5d5d5;
}
#scrollbar::-webkit-scrollbar-thumb:active{
	background-color: #d5d5d5;
}

/*header*/
#pallet-name{
	font-size: 13px;
	position: absolute;
	top:6px;
	left:7px;
}


/*-----side menu------*/
.side-menu{
	display: none;
  width:181px;
	height: auto;
	background-color:white;
	position: absolute;
	left:5px;
	z-index: 2;
}
.side-menu-title{
  color:#d5d5d5;
	font-size:9px;
	padding: 5px auto auto 5px;

}
.side-menu a{
	display: block;
	padding:5px 0px 5px 15px;
	text-decoration: none;
	color:#333;
	font-size: 12px;
}
.side-menu a:hover{
	background-color: #d5d5d5;
}
.side-menu a:active{
	background-color: #333;
}

/*display-area*/
/*------------*/

.subheader{
  width:202px;
	height: 20px;
	background-color: white;
  position: relative;
  left:3px;
	overflow-x:hidden;
}
.current-view{
  font-size: 12px;
  position: absolute;
  top:4px;
  left:17px
}

.icon{
  font-size: 12px;
	position: absolute;
	top: 3px;
}
.icon:hover{
	color:#217cbc;
}

#menuIcon{
  left:3px;
}
/*.block-panel{
  width:90px;
  height:90px;
  background-color:white;
  margin:2px;
  float:left;
}*/

.block-thumbnail{
	height: 68px;
	margin:1px;
	background-color:white;
	border:1px solid transparent;
}
.block-thumbnail:hover{
	border: 1px solid #CCCCCC;
}
.block-thumbnail img{
	float: left;
	height:68px;
}
.block-name{
	padding-top: 25px;
}

/*---search bar----*/
.search-bar{
	width: 202px;
	height:20px;
	background-color:white;
	position: absolute;
	left:181px;
	/*z-index: 2;*/
}
.search-bar:hover{
	background-color:#d3e5f2;
}

.search-box{
	width:160px;
	position: absolute;
	left: 25px;
	background-color: transparent;
	border:0px;
	border-bottom:1px solid #217cbc;

}
.search-box:focus{
	outline: none;
	border:0px;
	border-bottom:1px solid white;
}

::-webkit-input-placeholder {
   color: transparent;
   font-size: 12px;
   padding-top: 3px;
}

:-moz-placeholder {
   color: transparent;
   font-size: 12px;
   padding-top: 3px;
}

::-moz-placeholder {
   color: transparent;
   font-size: 12px;
   padding-top: 3px;
}

:-ms-input-placeholder {
   color: transparent;
   font-size: 12px;
   padding-top: 3px;
}
#searchIcon{
  left:5px;
}
#closeIcon{
	right:5px;
}
